@model HiddenBlog.Models.User

@{
    ViewBag.Title = "AdminMainBanner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading" for="file">Upload_File Select..</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="" alt="">
                    </a>
                </div>
            </div>

        </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><input type="file" name="file" id="file" /></li>
                    <li class="list-group-item"><input type="submit" /></li>
                </ul>
            </div>
    </div>
    <div>@ViewBag.test</div>
</form>