@model IEnumerable<HiddenBlog.Models.User>

@{
    ViewBag.Title = "Main";
}

<div class="container">
    
    <!--16.08.30-->
    <div class="jumbotron">
        <h1>Container_1</h1>
        <p>label_1</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">button_1</a></p>
    </div>

    <!--16.08.30-->
    <div class="page-header">
        <!--스터디목록이 들어갈 부분.-->
        <h1>Header_1 <small>Small_Header_1</small></h1>
    </div>

    <!--16.08.30-->
    <!--스터디목록이 들어갈 부분.-->
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Study_1</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button_1</a> <a href="#" class="btn btn-default" role="button">Button_2</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Study_2</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button_3</a> <a href="#" class="btn btn-default" role="button">Button_4</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Study_3</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button_5</a> <a href="#" class="btn btn-default" role="button">Button_6</a></p>
                </div>
            </div>
        </div>
    </div>

    <!--16.08.30-->
    <div class="page-header">
        <!--갤러리 썸네일이미지 들어갈 부분.-->
        <h1>Header_2 <small>Small_Header_2</small></h1>
    </div>
    <!--갤러리 썸네일이미지.-->
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="..." alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="..." alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="..." alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="..." alt="...">
            </a>
        </div>
    </div>

</div>

