<!--16.08.30-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--16.08.30-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SignUp.css" rel="stylesheet" />
    <title>HiddenBlog - @ViewBag.Title</title>
</head>
<body>
    <!--16.08.30-->
    <!--<header></header><nav></nav>-->
    <section class="container">
        <article class="panel panel-default">
            <div class="panel-heading">Sign Up</div>
            <div class="panel-body">
                @RenderBody()
            </div>
        </article>
    </section>
    <!--16.08.30-->
    <!--<footer></footer>-->
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
